<html>
    <body>
        <div>
            <p><b><i>Your Order of Order ID:75675 is Completed</i></b></p>
            <hr />
            
                  <p><b>Thank you for buying.....</b></p><br />
                  <hr />
                  <a href="/Product/GetAllProducts">Check More</a>
                  <hr />
        </div>
    </body>
</html>