@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br/>

<p><b>This Application is Created by Sachin Kapkoti to Showcase as Training Project </b></p>
<hr />
<p><i>Sachin Occupies All Rights to this Application</i> </p>
<hr />
<p><b><i>CopyRight of code is Strictly Prohibited</i></b></p>
