
<html>
    <head>
        <script>
        function ResetForm() {
            document.getElementById('name').value = "";
            document.getElementById('pCategory').value = "";
             document.getElementById('pPrice').value = "";
              document.getElementById('pImage').value = "";
            document.getElementById('Description').value = "";
        }
    </script>
    </head>
<body>
<form action="/Admin/CreateProducts" method="post">
     
  <div class="container align-content-center" >
    <h1>Register</h1>
    <p>Please fill in this form to add a new Product.</p>
    <hr>

    <label for="name"><b><i>Product Name</i></b></label>
    <input type="text" placeholder="Enter Product Name " name="ProductName" id="name" required> <br/>
     <hr>
    <label for="pCategory"><b><i>Product Category</i></b></label>
    <input type="text" placeholder="Enter Product Category " name="ProductCategory" id="pCategory" required><br/>
     <hr>
    <label for="pPrice"><b><i>Product Price</i></b></label>
    <input type="text" placeholder="Enter Price Here" name="Productprice" id="pPrice" required><br/>
    <hr>
    <label for="pImage"><b><i>Product Image</i></b></label>
    <input type="text" placeholder="Enter Product Image URL" name="ProductImage" id="pImage" required><br/>
    <hr>
    <label for="description"><b><i>Product Description</i></b></label>
    <input type="text" placeholder="Enter Product Description Here" name="ProductDescription" id="description" required><br/>
    <hr>

    <input type="submit" value="Add Product"/>
      <input type="submit" name="BtnSubmit" value="Cancel" />
      <input type="button" name="BtnReset" value="Reset" onclick="ResetForm();" />

</form>
</body>
    </html>